sfSympalContentType:
  ContentType_Blog_Post:
    name: sfSympalBlogPost
    slug: blog-post
    description: A content type for posting blogs, articles, or other similar content
    label: Blog Post
    template: default_view
<?php if (sfSympalConfig::isI18nEnabled('ContentType')): ?> 
    default_path: /pages/:sf_culture/:slug
<?php else: ?>
    default_path: /pages/:slug
<?php endif; ?>